@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :focus-visible {
    @apply outline-none ring-2 ring-wrestling-red ring-offset-2 ring-offset-black;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
  color: white;
}

#root {
  width: 100%;
}
